.test {
    position: relative;
    z-index: 3;
    margin-top: -10%;
    width: 100%;
    height: 300px;
}

.iconInfo {
    color: white;
}

.titre-coordonnes {
    margin-top: 60px;
    color: #17096D;
}

.coordonnees {
    display: flex;
    background-color: #5147477e;
    padding: 58px;
}

.titre-formulaire {
    margin-top: 70px;
    color: #17096D;
}

.formulaire {
    background-color: #B9B7B7;
    padding: 30px;
    margin-top: 20px;
    padding-left: 50px!important;
}

.test2 {
    font-size: 8px;
    position: absolute;
    margin-bottom: 0px;
    color: red;
}

