body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'advent_proregular';
    src: url('../font/adventpro-regular-webfont.eot');
    src: url('../font/adventpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/adventpro-regular-webfont.woff2') format('woff2'),
         url('../font/adventpro-regular-webfont.woff') format('woff'),
         url('../font/adventpro-regular-webfont.ttf') format('truetype'),
         url('../font/adventpro-regular-webfont.svg#advent_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'commandocommando';
    src: url('../font/commando-webfont.eot');
    src: url('../font/commando-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/commando-webfont.woff2') format('woff2'),
         url('../font/commando-webfont.woff') format('woff'),
         url('../font/commando-webfont.ttf') format('truetype'),
         url('../font/commando-webfont.svg#commandocommando') format('svg');
    font-weight: normal;
    font-style: normal;

}

.test {
    position: relative;
    z-index: 3;
    margin-top: -10%;
    width: 100%;
    height: 300px;
}

/*titre du bloc des coordonnées*/
.titre-coordonnes {
    margin-top: 60px;
    color: #17096D;
    font-family: 'commandocommando' Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/*section des coordonnées*/
.iconInfo {
    color: white;
}

.coordonnees {
    display: flex;
    background-color: #5147477e;
    padding: 58px;
}

/*section d'information avant le formulaire*/
.titre-formulaire {
    margin-top: 70px;
    color: #17096D;
    font-family: 'commandocommando' Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.texte_top-formulaire {
    font-family: 'advent_proregular', Arial, Helvetica, sans-serif;
}

/*formulaire de contact*/
.formulaire {
    background-color: #B9B7B7;
    padding: 30px;
    margin-top: 20px;
    padding-left: 50px!important;
}

.etoile {
    font-size: 8px;
    position: absolute;
    margin-bottom: 0px;
    color: red;
}

.zone_champ {
    width: 16%!important;
}

.zone_mail {
    width: 24%!important;
}

/*media responsive iphone*/
@media only screen and (max-width: 600px) {
    .titre-coordonnes {
        font-size: 18px;
    }

    .coordonnees {
        padding: 30px;
    }

    .adresse-coordonnes {
        font-size: 12px;
    }

    .telephonne-coordonnees {
        font-size: 12px;
    }

    .titre-formulaire {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .texte_top-formulaire {
        margin-bottom: 50px;
    }

    .zone_champ {
        width: 50%!important;
    }
    
    .zone_mail {
        width: 60%!important;
    }

    .condition {
        font-size: 14px;
    }
}