body {
    margin: 0%!important;
    padding: 0%!important;
}

footer {
    background-color: #514747;
    width: 100%;
}

.footer1 {
    display: flex;
}

.logo-footer {
    width: 160px;
    height: 100px!important;
    margin-left: 20px;
}

.infos {
    display: flex;
    text-align: center;
    color: white;
    margin-top: 20px;
}

.adresse {
    margin-left: 20px;
}

.telephone {
    margin-left: 110px;
}

.heure {
    margin-left: 170px;
}

.iconInfo {
    margin-right: 10px;
}

.barre_de_separation {
    border: 1.5px solid #8A8A8A!important;
    width: 90%;
}

.footer2 {
    display: flex;
}

.copyright {
    color: white;
    margin-left: 40px;
}

.social-footer {
    margin-left: 750px;
}

.icon-footer {
    margin-right: 22px;
    color: white;
    filter: drop-shadow(2px 4px 2px black);
}

/*media responsive ipad*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .logo-footer {
        margin-left: 1px;
    }
    
    .adresse {
        margin-left: 50px;
        font-size: 10px;
    }

    .telephone {
        margin-left: 100px;
    }

    .heure {
        margin-left: 100px;
    }

    .social-footer {
        margin-left: 200px;
    }
}
/*media responsive iphone*/
@media only screen and (max-width: 600px) {
    .logo-footer {
        margin-left: 22%;
    }
    
    .adresse, .telephone, .heure  {
        display: none;
    }

    .copyright {
        font-size: 10px;
        margin: auto;
    }

    .footer2 {
        display: flex;
        flex-direction: column;
    }

    .barre_test {
        border: 1.5px solid #000000!important;
        width: 20%;
    }

    .social-footer {
        margin: auto;
        padding-bottom: 20px;
    }
    
}