body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: '../font/advent_proregular';
    src: url('../font/adventpro-regular-webfont.eot');
    src: url('../font/adventpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/adventpro-regular-webfont.woff2') format('woff2'),
         url('../font/adventpro-regular-webfont.woff') format('woff'),
         url('../font/adventpro-regular-webfont.ttf') format('truetype'),
         url('../font/adventpro-regular-webfont.svg#advent_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'commandocommando';
    src: url('../font/commando-webfont.eot');
    src: url('../font/commando-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/commando-webfont.woff2') format('woff2'),
         url('../font/commando-webfont.woff') format('woff'),
         url('../font/commando-webfont.ttf') format('truetype'),
         url('../font/commando-webfont.svg#commandocommando') format('svg');
    font-weight: normal;
    font-style: normal;

}


.insertion-texte{
    position: relative;
    margin-top: 26%;
    z-index: 5;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 18px;
    margin-left: 20px;
}

/*texte d'intro de page*/
.descriptif-garage {
    display: flex;
    background-color: #C4C4C4;
}

.texte-descriptif {
    margin: auto;
    margin-left: 50px;
    padding-top: 50px;
    padding-bottom: 80px;
    font-family: 'advent_proregular', Arial, Helvetica, sans-serif;
}

/*liste des travaux proposés*/
.exemple-travaux  {
    margin-top: 30px;
    margin: auto;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
}

.exemple {
    margin-bottom: 24px;
}

/*rubrique des services proposés*/
.titre-service {
    color: black;
    padding-top: 40px;
    padding-bottom: 30px;
    filter: drop-shadow(-1px 6px 2px black);
    font-family: 'commandocommando', Arial, Helvetica, sans-serif;
}

.service {
    margin-top: 50px;
    margin-bottom: 50px;
}

/*titre des services*/
.card-title {
   margin-top: 80%;
   color: white;
   text-shadow: 2px 2px black;
  
}

.card .background-image {
    margin-right: 50px!important;
}


/*partie bannière de contact*/
.banniere-contact {
    background-image: url("../images/imageContact.jpg")!important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
}

.bouton-contact {
   margin-left: 650px;
   margin-top: 100px;
   padding-top: 140px;
   padding-bottom: 56px;
}

/*bloc d'information pied de la bannière de contact*/
.info-banniere {
    display: flex;
    background-color: #7978785e;
    color: white;
}

.adresse-banniere {
    margin-left: 20px;
    margin-top: 10px;
}

.telephonne-banniere {
    margin-left: 20px;
    margin-top: 10px;
}

.heure-banniere {
 margin-left: 50px;
 margin-top: 10px;
}

/*carte google du site*/
.map-responsive {
    overflow:hidden;
    padding-bottom:25.25%;
    position:relative;
    height:0;
    }
    
.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

/*media responsive tablette ipad*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .insertion-texte {
        margin-top: 36%;
    }

    .exemple-travaux {
        margin-left: 10px!important;
        margin-right: 40px;
    }

    .card {
        height: 300px !important;
    }

    .card-title {
        margin-top: 130px;
    }

    .bouton-contact {
        margin-left: 310px;
    }
}
/*media responsive telephone iphone*/
@media only screen and (max-width: 600px) {
    .insertion-texte {
        font-size: 12px;
        margin-top: 32%;
    }

    .descriptif-garage {
        display: inline-block;
        flex-direction: row;
    }

    .texte-descriptif {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -40px!important;
    }

    .exemple-travaux {
        margin-left: 80px;
        padding-bottom: 50px;
    }

    .titre-service {
        padding-top: 5px;
    }

    .card {
        margin-bottom: 40px!important;
    }

    .bouton-contact {
        margin-left: 120px;
    }

    .banniere-contact {
        height: 540px;
    }

    .info-banniere {
        display: block;
    }

    .adresse-banniere {
        margin-left: auto;
        margin-right: auto;
    }

    .telephonne-banniere {
        margin-left: auto;
        margin-right: auto;
    }

    .heure-banniere {
        margin-left: auto;
        margin-right: auto;
    }
}