body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: '../font/advent_proregular';
    src: url('../font/adventpro-regular-webfont.eot');
    src: url('../font/adventpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/adventpro-regular-webfont.woff2') format('woff2'),
         url('../font/adventpro-regular-webfont.woff') format('woff'),
         url('../font/adventpro-regular-webfont.ttf') format('truetype'),
         url('../font/adventpro-regular-webfont.svg#advent_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'commandocommando';
    src: url('../font/commando-webfont.eot');
    src: url('../font/commando-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/commando-webfont.woff2') format('woff2'),
         url('../font/commando-webfont.woff') format('woff'),
         url('../font/commando-webfont.ttf') format('truetype'),
         url('../font/commando-webfont.svg#commandocommando') format('svg');
    font-weight: normal;
    font-style: normal;

}

.test {
    position: relative;
    z-index: 3;
    margin-top: -8%;
    width: 100%;
    height: 300px;
}

/*haut de la page*/
.titre_debut_page {
    padding-top: 40px;
    font-family: 'commandocommando', Arial, Helvetica, sans-serif;
}

.barre_sous-titre {
    border: 0.5px solid #8A8A8A!important;
    width: 100%!important;
}

/*bloc des propositions de service*/
.titreRubrique {
    color: #17096D;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'commandocommando', Arial, Helvetica, sans-serif;
}


.proposition a:visited {
    color: red!important;
}


/*texte de description du service*/
.description_service {
    padding-top: 80px;
    font-family: 'advent_proregular', Arial, Helvetica, sans-serif;
}

/*bouton de contact*/
.bouton_contact {
    padding-top: 80px;
    padding-bottom: 100px;
  text-align: center;
}

.btn {
    box-shadow: 5px 6px 9px rgba(0, 0, 0, 0.63);
}

/*media responsive ipad*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

}

/*media responsive iphone*/
@media only screen and (max-width: 600px) {
    .titre_debut_page {
        font-size: 21px;
    }

    .barre_sous-titre {
        width: 80%!important;
    }

    .descriptif-service {
        font-size: 14px;
    }

    .titreRubrique {
        font-size: 16px;
        margin-left: 12px;
    }

    .description_service {
        font-size: 14px;
    }
}