body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'advent_proregular';
    src: url('../font/adventpro-regular-webfont.eot');
    src: url('../font/adventpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/adventpro-regular-webfont.woff2') format('woff2'),
         url('../font/adventpro-regular-webfont.woff') format('woff'),
         url('../font/adventpro-regular-webfont.ttf') format('truetype'),
         url('../font/adventpro-regular-webfont.svg#advent_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'commandocommando';
    src: url('../font/commando-webfont.eot');
    src: url('../font/commando-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/commando-webfont.woff2') format('woff2'),
         url('../font/commando-webfont.woff') format('woff'),
         url('../font/commando-webfont.ttf') format('truetype'),
         url('../font/commando-webfont.svg#commandocommando') format('svg');
    font-weight: normal;
    font-style: normal;

}

.test {
    position: relative;
    z-index: 3;
    margin-top: -10%;
    width: 100%;
    height: 300px;
}

/*rubrique promotion*/
.Promo {
    background-color: #C4C4C4;
}

.rubriquePromo {
    display: flex;
}

.titrePromo {
    color: #17096D;
    padding-top: 2%;
    padding-bottom: 20px;
    font-family: 'commandocommando', Arial, Helvetica, sans-serif;
}

.photo_promo {
    width: 100%;
    height: auto;
    padding-bottom: 10%;
}

.textePromo {
    font-family: 'advent_proregular', Arial, Helvetica, sans-serif;
}


/*rubrique vente de produit*/
.listeDesProduits {
    padding-bottom: 70px;
}

.titreListeProduit {
    color: #17096D;
    padding-top: 60px;
    padding-bottom: 80px;
    font-family: 'commandocommando', Arial, Helvetica, sans-serif;
}

.card {
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.534);
}



.card-img-top {
    width: 100%;
    height: auto;
}

/*media responsive ipad*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .textePromo {
        font-size: 16px;
        padding-bottom: 40px;
    }
}

/*media responsive iphone*/
@media only screen and (max-width: 600px) {
    .rubriquePromo {
        display: block;
    }

    .photo_promo {
        display: none;
    }

    .textePromo {
        padding-bottom: 20px;
    }

    .titreListeProduit {
        padding-bottom: 40px;
    }
}