body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: '../font/advent_proregular';
    src: url('../font/adventpro-regular-webfont.eot');
    src: url('../font/adventpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/adventpro-regular-webfont.woff2') format('woff2'),
         url('../font/adventpro-regular-webfont.woff') format('woff'),
         url('../font/adventpro-regular-webfont.ttf') format('truetype'),
         url('../font/adventpro-regular-webfont.svg#advent_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'commandocommando';
    src: url('../font/commando-webfont.eot');
    src: url('../font/commando-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/commando-webfont.woff2') format('woff2'),
         url('../font/commando-webfont.woff') format('woff'),
         url('../font/commando-webfont.ttf') format('truetype'),
         url('../font/commando-webfont.svg#commandocommando') format('svg');
    font-weight: normal;
    font-style: normal;

}

.test {
    position: relative;
    z-index: 3;
    margin-top: -10%;
    width: 100%;
    height: 300px;
}

.titre_descriptif_vente {
    color: #17096D;
    margin-top: 50px;
}

.barre_vente{
    border: 0.5px solid #514747!important;
}

.bloc_vehicule {
    margin-top: 80px;
    margin-bottom: 120px;
}

.card {
    width: 330px;
    height: 230px;
    margin: 20px;
}

.back {
    background-image: url('../images/voiture.jpg')!important;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: auto;
    background-position: center;       
}

.card-title {
    padding-top: 40%;
}